.calendar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 16px; */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

}

.calendar-title {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 8px ;
  margin-bottom: 12px;

}

.custom-calendar {
  border: none;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  padding: 10px;
    /* background-color: red; */
}

.react-calendar__tile--active {
  background: #2563eb !important; /* Tailwind blue */
  color: white !important;
  border-radius: 8px;
}

.react-calendar__tile--now {
  background: #facc15 !important; /* Tailwind yellow */
  border-radius: 5%;
}

.calendar-selected {
  margin-top: 12px;
  font-size: 1rem;
  color: #374151; /* gray-700 */
}

.react-calendar__tile {
  border-radius: 8px;
  transition: background-color 0.3s, color 0.3s;
  /* background-color: #AC8FF033; */
    /* color: #374151; gray-700 */
  gap: 10px;
}